[Unit] 
Description=Shadowsocks Server 
After=network.target 
[Service] 
ExecStart=/usr/local/bin/ssserver -c /etc/ss-config.json 
Restart=always 
[Install] 
WantedBy=multi-user.target 
EOF 
 

num=39549 
pass=ZGYxZmRiOTBm 
 

cat>/etc/ss-config.json<<EOF 
{ 
    "server_port":, 
    "password":"", 
    "timeout":60, 
    "method":"rc4-md5" 
} 
EOF 
 

systemctl daemon-reload 
systemctl enable shadowsocks-server 
systemctl restart shadowsocks-server 
systemctl status shadowsocks-server 
 

VERSION=20180810 
wget https://github.com/xtaci/kcptun/releases/download/v/kcptun-linux-amd64-.tar.gz 
tar zxf kcptun-linux-amd64-.tar.gz 
rm -f client_linux_amd64 kcptun-linux-amd64-.tar.gz 
chmod a+x server_linux_amd64 
mv -f server_linux_amd64 /usr/local/bin/ 
 

num=35731 
pass=ZGYxZmRiOTBm 
port=45555
54444
18888
18889
45555
1080 
 

cat>/etc/kcp-config.json<<EOF 
{ 
    "listen":":", 
    "target":"127.0.0.1:", 
    "key":"", 
    "crypt":"aes-192", 
    "mode":"fast2" 
} 
EOF 
 

cat>/etc/systemd/system/kcp-server.service<<EOF 
[Unit] 
Description=Kcptun server 
After=network.target 
[Service] 
ExecStart=/usr/local/bin/server_linux_amd64 -c /etc/kcp-config.json 
Restart=always 
[Install] 
WantedBy=multi-user.target 
EOF 
 

systemctl daemon-reload 
systemctl enable kcp-server 
systemctl restart kcp-server 
systemctl status kcp-server 
