[Unit]
Description=shadowsocks-client service
After=network.target


[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/sslocal -c /etc/ss-client-config.json start &


[Install]
WantedBy=multi-user.target

