[Unit]
Description=shadowsocks-client-use-kcptun-18902 service
After=network.target


[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/sslocal -c /etc/shadowsocks/ss-client-use-kcptun-config-18902.json start &


[Install]
WantedBy=multi-user.target

